
body,
html,
.main {
    width : 100%;
    height: 100%
}

.main {
    position       : relative;
    background-size: cover;
    background-color: hsla(240,39%,10%,1.00);
}


.nav {
    position       : relative;
    top            : .5vw;
    width          : 100%;
    height         : 5vw;
    background     : url(../img/top.png) no-repeat;
    background-size: 100%;
    text-align     : center;
    line-height    : 4vw;
    color          : #0efcff;
    font-size      : 1.6vw;
    letter-spacing : .4vw;
}

.content {
    position     : relative;
    width        : 100%;
    height       : 70%;
    margin-top: 0%;
    /*margin       : auto;*/
    /* background: white; */
}

.centerBox {
    position     : relative;
    float        : left;
    width        : 28%;
    height       : 100%;
    margin       : 0.5%;
    /* background: red; */
}


.centerMainBox1 {
    width: 100%;
    height: 60.5%;
}


.baseBoxLeft {
    width: 30%;
    height: 90%;
    position: relative;
}


.left {
    float: left;
}


.baseBox {
    position     : relative;
    float        : left;
    width        : 48.8%;
    height       : 32.3%;
    border       : 1px solid #6176AF;
    background   : rgba(11, 21, 44, 0.60);
    border-radius: 5px;
}

.boxTitle {
    font-size  : 2vw;
    color      : #0efcff;
    width      : 80%;
    /*height:  100%;*/
    margin-left: .8vw;
    margin-top : .5vw;
}

.table2{
    width: 95%;
    margin-top: 4%;
    margin-left: 2%;
    text-align: center;
    color: #fff;
    font-size: 1vw;
    border-collapse: collapse;
}



.table2 tr:nth-child(1){
    color: #0EFCFF;
}
.table2 tr th {
    border-bottom: 1px solid #0EFCFF;
}

.table2 tr.highlighted-row {
  background-color: #0EFCFF; /* 设置鼠标悬停时的背景色 */
  cursor: pointer; /* 鼠标样式为手型 */
}

.equipment_table {
    width: 85%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 1vw;
}

.equipment_table tr:nth-child(1) {
    color: #0EFCFF;
}

.equipment_table tr {
    border: 1px solid#0EFCFF;
}

.equipment_table tr:nth-child(1) {
    font-size: .8vw;
}

.equipment_table img {
    width: 1vw;
}

.env_table {
    height: 70%;
    margin-top: 5%;
    border-collapse: collapse;
}

.env_table td {
    border: 1px solid#0EFCFF;
    font-size: 1vw;
}

.env_table tr:nth-child(1) {
    background: rgba(14, 252, 255, .3);
}

.nav_btn {
    position: absolute;
    top     : 1.5vw;
    width   : 100%;
    height  : 2vw;
}

.btn_left {
    float      : left;
    width      : 27%;
    margin-left: 4%;
    height     : 100%;
    display: flex;
    justify-content: space-between;
}

.btn_right {
    float       : right;
    width       : 25%;
    margin-right: 5.2%;
    height      : 100%;
    display: flex;
    justify-content: space-between;
}

.btn_list {
    position      : relative;
    float         : left;
    width         : 6.5vw;
    height        : 2vw;
    text-align    : center;
    line-height   : 1.6vw;
    font-size     : 1.2vw;
    color         : #0efcff;
    letter-spacing: .1vw;
    cursor        : pointer;
}

.btn_show {
    position      : relative;
    float         : left;
    width         : 6.5vw;
    height        : 2vw;
    text-align    : center;
    line-height   : 1.6vw;
    font-size     : 1.2vw;
    color         : #0efcff;
    letter-spacing: .1vw;
}

.btn_list:before {
    content  : '';
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
    border   : 1px solid #6176AF;
    /*transform: skewX(-38deg);*/
}

.btn_list:hover::before {
    border-color: #0efcff;
    box-shadow  : 1px 1px 3px 1px #0efcff inset;
}


.baseBoxRight {
    /*margin-left: 20vm;*/
    width: 100%;
    height: 70%;
}

.right {
    position: absolute; /* 设置为绝对定位 */
    width: 100%;
    top:  0%; /* 调整位置 */
    left: 30%; /* 调整位置 */
}


.baseBoxLeft map {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}


.leftBox {
    height:120%;
    width:25%;
    margin-left:65%;
    /*background: yellow;*/
    position: relative;
    display: flex;
    flex-direction: column;
}

.baseBox1{
    /*background: yellow;*/
    /*flex: 1;*/
    margin-left: -10%;
    width:100%;
    height: 50%;
}

.baseBox2{
    /*flex: 1;*/
    margin-left: -10%;
    width:100%;
    height: 50%;

}

.boxTitle1 {
    top: 0%;
    margin-left: 0%;
    width: 100%;
    /*height: 10%;*/
    font-size: 1vw;
    text-align: center;
    /*line-height: 10%;*/
    color: #0efcff;
    position:absolute;
}


.boxTitle2 {
    width: 100%;
    /*height: 10%;*/
    font-size: 1vw;
    text-align: center;
    /*line-height: 10%;*/
    color: #0efcff;
    position:absolute;
}


.centerMainBox2 {
    width: 100%;
    height: 38.5%;
    position: relative;
    margin-top: 15px;
}

.centerMainBox2 img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Border styles */
#table-2 thead, #table-2 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(230, 189, 189);
}
#table-2 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
#table-2 td, #table-2 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(177, 106, 104);
}

/* Alternating background colors */
#table-2 tr:nth-child(even) {
background: rgb(238, 211, 210)
}
#table-2 tr:nth-child(odd) {
background: #FFF
}

#user_top_table {
  table-layout: fixed; /* 使用固定表格布局 */
    width: 97%;
}
.col1 {
  width: 3%;
}
.col2 {
  width: 8%;
}
.col3 {
  width: 14%;
}
.col4 {
  width: 10%;
}
.col5 {
  width: 7%;
}
.col6 {
  width: 5%;
}